<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.hannes.dicom.app">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MedicalTestListActivity"
            android:label="Medical Tests"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SeriesListActivity"
            android:label="Series"
            android:parentActivityName=".MedicalTestListActivity" />

        <activity
            android:name=".ScreenSlideActivity"
            android:label="@string/title_screen_slide"
            android:parentActivityName=".SeriesListActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SeriesListActivity" />
        </activity>
    </application>

</manifest>
